.welcomepage{
    text-align: center;
    color: white;
    background-color: rgb(15, 29, 54);
    height: 100vh;
}
.appname{
    padding-top: 100px;
    padding-bottom: 100px;
}
.welcomemsg{
    padding-bottom: 120px;
}
.welcomemsg h3{
    font-style: italic;
}
.touchtostart{
    cursor: pointer;
    color: white;
}
.touchtostart:hover{
    text-decoration: none;
    color: gold;
}
.categoryback{
    float: left;
    margin-top: 50px;
}
.iam{
    text-align: center;
    padding: 80px;
}
.categorybutton{
    height: 60px;
}
.mainform{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 5% auto;
    padding: 20px;
    width: 65%;
}
.mainform h3{
    text-align: center;
}
.nameinput{
    border-radius: 10px;
}
.formbtn{
    border-radius: 10px;
}
.formbuttons{
    border-radius: 10px;
}
.formtextarea{
    resize: none;
}

@media (max-width: 576px){
    .mainform{
        width: 90%;
    }
    .okbtn{
        margin-bottom: 15px;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .mainform{
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .mainform{
        width: 90%;
    }
}

@media (min-width: 993px) and (max-width: 1024px){
    .mainform{
        width: 90%;
    }
}